<div  class="cat-image-container d-flex flex-column" >
<mat-card *ngFor="let post of posts; let elementIndex= index"  class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Random Cat</mat-card-title>
    <mat-card-subtitle>Cat Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-spinner *ngIf="isLoading" style="margin:auto"></mat-spinner>
  <img mat-card-image (load)="isLoading=false" [src]="post.image" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <p>
      {{post.fact}}
    </p>
  </mat-card-content>
  <div *ngFor="let comment of post.comments" >
  <div class="comment d-flex flex-nowrap">
    <span style="font-weight: bold; margin-right: 0.5rem;">{{comment.emitter.name}}</span>
    <p style="margin:0">
      {{comment.text}}
    </p>

  </div>

    <span style="font-size: small; color:lightgray">
      {{getDateFromNow(comment.creationDate)}}
    </span>
  </div> 


  <mat-form-field style="width:100%">
    <mat-label>Comentario</mat-label>
    <input name="sentComments" (keyup.enter)="sendComment(elementIndex)" matInput placeholder="Comentar..." [(ngModel)]="sentComments[elementIndex]">
    <mat-icon (click)="sendComment(elementIndex)"  matSuffix>send</mat-icon>
  </mat-form-field>    
</mat-card>
</div>